
<div class="background">


  <div class="logo-text-container">

    <div class="logo">
      <img src="<%= asset_path('finallogo.png') %>" alt="Logo">
    </div>

    <div class="text-content">
      <p>
      Ambient focused listening bar
      <br>
      Connect with sound, light and art in a queer space for modern rituals
      </p>
    </div>

    <a href="<%= events_month_path %>">Events</a>
  </div>
</div>
