
<style>
a {
  text-decoration: none;
  color: #d8bdd2;
}

a:hover {
  color:white;
}
</style>

<div class="background">


  <div class="logo-text-container">

    <div class="logo">
      <img src="<%= asset_path('finallogo.png') %>" alt="Logo">
    </div>

    <div class="text-content">
      <p>
      Ambient focused listening bar
      <br>
      Connect with sound, light and art in a queer space for modern rituals
      </p>
    </div>

    <a href="<%= months_all_path %>">Events</a>
  </div>
</div>
